basic data structure

list ðŸ‘‘
tuple
set
dictionary ðŸ‘‘
list properties

ordered (sequence)
indexed
mutable (changeable)
allow duplicate values
heterogeneous (different types of data)
list is denoted by square brackets [ ]
an iterable can be converted to list using list() function
what to learn?

creating
indexing/slicing
modifying
methods

In [1]:
x = [1,2,3,4,5,6]
names = ['Anshu','Abhishek','Divyanshi','Madhu']
mixeds = ['Potato', 10, 'Tomato', 20, 'Onion', 30]

In [2]:
name = 'Zaid'
list(name)

['Z', 'a', 'i', 'd']

In [3]:
x = [] # blank list

In [4]:
a = [1] # single element list
a*10 # duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
data = 'Can i take the class @Shikhar_Awasthi'
words = data.split()
print(words)

['Can', 'i', 'take', 'the', 'class', '@Shikhar_Awasthi']

In [6]:
words[0] = 'Would'

In [7]:
words[-1]

'@Shikhar_Awasthi'

In [8]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'
words

['Would', 'you', 'please', 'take', 'the', 'class']

In [9]:
x = [11,22,33,44,55,66,77,88,99]
print(x[:3]) # first 3 elements
print(x[-3:]) # last 3 elements
print(x[:100]) # first 100 elements if available
print(x[::-1]) # reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [10]:
for name in names:
    print(name)

Anshu
Abhishek
Divyanshi
Madhu

In [11]:
for num in x:
    print(num)

11
22
33
44
55
66
77
88
99

In [12]:
for num in x[::-1]:
    print(num)

99
88
77
66
55
44
33
22
11

In [13]:
# only first 5 elements of the list in the loop
for i in x[:5]:
    print(i)

11
22
33
44
55

In [14]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [15]:
x.append(111)

In [16]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [17]:
x.insert(3, 40)
print(x)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111]

In [18]:
y = [21,31,41,51,61,71,81,91]

In [19]:
x + y # concatenation of lists

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]

In [20]:
x.extend(y) # extend the list
print(x)
print(y)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [21]:
x.clear()
print(x)

[]

In [22]:
names.remove('Madhu')
names.remove('Anshu')

In [23]:
names

['Abhishek', 'Divyanshi']

In [24]:
words.pop(2)

'please'

In [25]:
words

['Would', 'you', 'take', 'the', 'class']

In [26]:
words.pop(-2)
print(words)

['Would', 'you', 'take', 'class']

In [29]:
movies=['hp','jumanji','x-men','underworld','insidous']

In [30]:
movies.sort(reverse=True)

In [31]:
movies

['x-men', 'underworld', 'jumanji', 'insidous', 'hp']